{
  "parser": "babel-eslint",
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "settings": {
    "react": {
      "version": "detect"
    },
    "linkComponents": [
      "Hyperlink",
      {
        "name": "Link",
        "linkAttribute": "to"
      }
    ]
  },
  "env": {
    "node": true,
    "browser": true
  },
  "plugins": ["react"],
  "rules": {
    "react/prop-types": 0,
    "space-before-function-paren": 0,
    "new-cap": 0,
    "no-unused-vars": ["error", { "ignoreRestSiblings": true, "argsIgnorePattern": "^_" }],
    "require-atomic-updates": 0
  }
}
